body {
    background-color: #2e2e2e;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
    padding-top: 5vh;
}
.style {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
}

/* ============================================================================ */

.title {
    position: relative;
}
.title::before {
    content: '';
    position: absolute;
    left: -150px;
    background: rgb(207, 92, 92);
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    transform: translateY(-15%);
    
}
.title::after {
    content: '';
    position: absolute;
    right: -150px;
    background: rgb(97, 77, 207);
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    transform: translateY(-90%);
}