* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to right, red , yellow);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(211, 199, 25, 0.4);
    transition: opacity 0.3s ease-in-out;
}

.open-modal {
    width: 300px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: #b85346;
    color: white;
}

.modal-content {
    background-color: #317259;
    color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 253, 253, 0.986);
    width: 60%;
    max-width: 500px;
    position: relative;
    animation: slide-up 0.5s ease-in-out;
}

@keyframes slide-up {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal {
    color: #aaa;
    position: absolute; 
    top: 10px; 
    right: 20px; 
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background: none; 
    border: none; 
    padding: 0; 
}

.close:hover,
.close:focus {
    color: #333;
}

